<div class="container text-center">
        <nav class="navbar navbar-expand-lg navbar-dark bg-success">
            <a class="navbar-brand" href="" routerLink="app-home" >Online Test</a>
            
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-support">
            
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbar-support">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="add-user">Add User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="user-details">User Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="add-exam">Add Exam</a>
                </li>    
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="exam-details">Exam Details</a>
                    
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="assign-exam-to-user">Assign Exam To User</a>   
               </li>

               <li class="nav-item">
                <a class="nav-link" href="#" routerLink="view-assign-exam">View Assign Exam </a>   
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#" routerLink="edit-assign-exam">Edit Assign Exam </a>   
              </li>


            </ul>
            </div>
        </nav> 
        <br>
        <br>          
        <router-outlet></router-outlet>
        
</div>
